html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  text-align: left;
}
textarea {
  resize: none;
}
address {
  font-style: normal;
}
input,
textarea,
button,
select {
  border: none;
  box-shadow: none;
  border-radius: 0;
  outline: none;
  font: inherit;
  -webkit-font-smoothing: inherit;
  -webkit-appearance: none;
}
.sprite {
  position: relative;
  width: 875px;
  padding: 150px 0;
  margin: 0 auto;
  background-image: url(sprite.png);
  background-repeat: no-repeat;
  background-position: center;
}
.sprite__arrow {
  position: absolute;
  top: -65px;
  width: 0;
  height: 180%;
  border: 2px solid darkred;
  border-radius: 50%;
  text-align: center;
  transform: translate(0, 45%);
  transition: width .5s;
}
.sprite__arrow_one {
  display: block;
}
.sprite__arrow_two {
  top: auto;
  left: -29px;
  bottom: -15px;
  height: 100%;
}
.sprite__field {
  position: absolute;
  top: -35px;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  text-align: center;
  border: 1px solid darkgray;
  color: #000;
  opacity: 0;
  animation: show .7s .8s;
  animation-fill-mode: forwards;
  box-sizing: border-box;
}
.sprite__field_one {
  display: block;
}
.sprite__field.error {
  transition: color .3s .2s;
  color: red;
}
.sprite__answer {
  position: absolute;
  top: -25px;
}
.sprite__line-wrapper {
  position: relative;
  top: -85px;
  height: 125px;
  width: 785px;
  margin-left: 34px;
  box-sizing: border-box;
  overflow: hidden;
}
.sprite__line {
  position: absolute;
  top: 0;
  width: 0;
  height: 40px;
  background-color: rosybrown;
  opacity: 0.5;
}
.task {
  padding-top: 200px;
  height: 35px;
  font-size: 25px;
  text-align: center;
  opacity: 0;
  animation: show .7s .5s;
  animation-fill-mode: forwards;
}
.task__body {
  margin-bottom: 20px;
}
.task__win {
  display: none;
}
.task__item,
.task__field,
.task__result {
  display: inline-block;
  vertical-align: top;
}
.task__item {
  padding: 0 5px;
}
.task__item.error {
  background-color: orange;
  transition: background .3s .2s;
}
.task__field {
  display: none;
  width: 29px;
  height: 29px;
  text-align: center;
  border: 1px solid darkgray;
  box-sizing: border-box;
}
.task__field.error {
  transition: color .3s .2s;
  color: red;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
